In [ ]:
!pip install pandas faker

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: faker in /usr/local/lib/python3.11/dist-packages (37.5.3)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import random
from faker import Faker

In [ ]:
fake = Faker()
# Parameters
num_agencies = 5
num_missions = 60
num_spacecraft = 80
num_astronauts = 50
num_mission_crew = 80

In [ ]:
# Agencies
agency_names = ["NASA", "ESA", "SpaceX", "Roscosmos", "ISRO"]
countries = ["USA", "Europe", "USA", "Russia", "India"]
founded_years = [1958, 1975, 2002, 1992, 1969]
budgets = [22.6, 6.7, 3.2, 4.1, 1.9]

agencies = pd.DataFrame({
    "agency_id": range(1, num_agencies + 1),
    "agency_name": agency_names,
    "country": countries,
    "founded_year": founded_years,
    "budget_billion_usd": budgets
})

In [ ]:
# Missions
destinations = ["Moon", "Mars", "ISS", "Jupiter", "Saturn", "Venus","Low Earth Orbit"]
mission_types = ["Manned", "Unmanned", "Satellite Deployment"]
statuses = ["Completed", "Failed"]

missions = []
for i in range(1, num_missions + 1):
    agency_id = random.randint(1, num_agencies)
    missions.append({
        "mission_id": i,
        "mission_name": f"Mission {i}",
        "agency_id": agency_id,
        "launch_date": fake.date_between(start_date="-30y", end_date="-2y"),
        "destination": random.choice(destinations),
        "mission_type": random.choice(mission_types),
        "status": random.choice(statuses),
        "duration_days": random.randint(20, 400)
    })

missions_df = pd.DataFrame(missions)

In [ ]:
#  Spacecraft
types = ["Rocket", "Shuttle", "Rover"]
manufacturers = ["Boeing", "Lockheed Martin", "SpaceX", "Blue Origin", "Roscosmos","Airbus", "ISRO"]

spacecraft = []
for i in range(1, num_spacecraft + 1):
    mission_id = random.randint(1, num_missions)
    spacecraft.append({
        "spacecraft_id": i,
        "name": f"Spacecraft {i}",
        "type": random.choice(types),
        "cost_million_usd": round(random.uniform(50, 500), 2),
        "manufacturer": random.choice(manufacturers),
        "first_launch_year": random.randint(1960, 2022),
        "mission_id": mission_id
    })

spacecraft_df = pd.DataFrame(spacecraft)

In [ ]:
# Astronauts
astronauts = []
for i in range(1, num_astronauts + 1):
    astronauts.append({
        "astronaut_id": i,
        "name": fake.name(),
        "nationality": fake.country(),
        "gender": random.choice(["Male", "Female"]),
        "birth_year": random.randint(1940, 2000),
        "missions_count": random.randint(1, 5)
    })

astronauts_df = pd.DataFrame(astronauts)

In [ ]:
# Mission_Crew
mission_crew = []
for i in range(1, num_mission_crew + 1):
    mission_id = random.randint(1, num_missions)
    astronaut_id = random.randint(1, num_astronauts)
    mission_crew.append({
        "mission_id": mission_id,
        "astronaut_id": astronaut_id,
        "role": random.choice(["Commander", "Pilot", "Engineer", "Scientist"])
    })

mission_crew_df = pd.DataFrame(mission_crew)

In [ ]:
# agencies tables
agencies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   agency_id           5 non-null      int64
 1   agency_name         5 non-null      object
 2   country             5 non-null      object
 3   founded_year        5 non-null      int64
 4   budget_billion_usd  5 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 332.0+ bytes

In [ ]:
# missions table
missions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mission_id     60 non-null     int64
 1   mission_name   60 non-null     object
 2   agency_id      60 non-null     int64
 3   launch_date    60 non-null     object
 4   destination    60 non-null     object
 5   mission_type   60 non-null     object
 6   status         60 non-null     object
 7   duration_days  60 non-null     int64
dtypes: int64(3), object(5)
memory usage: 3.9+ KB

In [ ]:
# spacecraft table
spacecraft_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   spacecraft_id      80 non-null     int64
 1   name               80 non-null     object
 2   type               80 non-null     object
 3   cost_million_usd   80 non-null     float64
 4   manufacturer       80 non-null     object
 5   first_launch_year  80 non-null     int64
 6   mission_id         80 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 4.5+ KB

In [ ]:
# astronauts table
astronauts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   astronaut_id    50 non-null     int64
 1   name            50 non-null     object
 2   nationality     50 non-null     object
 3   gender          50 non-null     object
 4   birth_year      50 non-null     int64
 5   missions_count  50 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [ ]:
# mission_crew table
mission_crew_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mission_id    80 non-null     int64
 1   astronaut_id  80 non-null     int64
 2   role          80 non-null     object
dtypes: int64(2), object(1)
memory usage: 2.0+ KB

In [ ]:
agencies.to_csv("agencies.csv", index=False)
missions_df.to_csv("missions.csv", index=False)
spacecraft_df.to_csv("spacecraft.csv", index=False)
astronauts_df.to_csv("astronauts.csv", index=False)
mission_crew_df.to_csv("mission_crew.csv", index=False)

# ***dashboards***

1. Mission Overview

* Total missions (KPI)

* Missions by agency (bar chart)

* Mission timeline (line chart)

* Mission type distribution (donut chart)

* Mission status breakdown (stacked bar)

2. Agency Performance

* Missions per agency (bar chart)

* Success rate per agency (bar chart)

* Agency budget vs number of missions (scatter plot)

* Map of agencies by country

3. Spacecraft Analysis

* Spacecraft types (pie chart)

* Manufacturer market share (bar chart)

* Spacecraft cost trends (line chart)

* Cost vs duration of missions (scatter plot)

4. Astronaut Insights

* Astronaut nationality distribution (map)

* Gender breakdown of astronauts (donut chart)

* Most experienced astronauts (bar chart)

* Missions per astronaut (table)

5. Mission Crew

* Crew size per mission (column chart)

* Crew role distribution (bar chart)

* Role composition by agency (stacked bar)

6. Destination Analysis

* Missions per destination (column chart)

* Success rate per destination (bar chart)

* Destination trends over time (line chart)

7. Timeline & Highlights

* First mission per agency (table)

*  Longest and shortest missions (table)

* Cumulative missions over time (line chart)

# ***Tables Exampels***



1.   Agencies

| Field                | Example |
| -------------------- | ------- |
| agency\_id (PK)      | 1       |
| agency\_name         | NASA    |
| country              | USA     |
| founded\_year        | 1958    |
| budget\_billion\_usd | 22.6    |

---
2.   Missions

| Field            | Example                                |
| ---------------- | -------------------------------------- |
| mission\_id (PK) | 101                                    |
| mission\_name    | Apollo 11                              |
| agency\_id (FK)  | 1                                      |
| launch\_date     | 1969-07-16                             |
| destination      | Moon                                   |
| mission\_type    | Manned, Unmanned, Satellite Deployment |
| status           | Completed, Failed, Ongoing             |
| duration\_days   | 8                                      |

---
3.   Spacecraft

| Field               | Example                |
| ------------------- | ---------------------- |
| spacecraft\_id (PK) | 301                    |
| name                | Saturn V               |
| type                | Rocket, Shuttle, Rover |
| cost\_million\_usd  | 185                    |
| manufacturer        | Boeing                 |
| first\_launch\_year | 1967                   |
| mission\_id (FK)    | 101                    |

---

4.   Astronauts

| Field              | Example        |
| ------------------ | -------------- |
| astronaut\_id (PK) | 501            |
| name               | Neil Armstrong |
| nationality        | USA            |
| gender             | Male           |
| birth\_year        | 1930           |
| missions\_count    | 2              |

---
5.   Mission_Crew


| Field              | Example   |
| ------------------ | --------- |
| mission\_id (FK)   | 101       |
| astronaut\_id (FK) | 501       |
| role               | Commander |

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/Missions.csv')
df1

,Mission_id,Mission_name,Destination,Mission_type,Status,launch_date,duration_days,Agency_id
0,1,Apollo 7,Low Earth Orbit,Manned,Completed,11/10/1968,11.0,1
1,2,Apollo 8,Moon,Manned,Completed,21/12/1968,6.0,1
2,3,Apollo 11,Moon,Manned,Completed,16/07/1969,8.0,1
3,4,Apollo 12,Moon,Manned,Completed,14/11/1969,10.0,1
4,5,Apollo 13,Moon,Manned,Failed,11/04/1970,6.0,1
...,...,...,...,...,...,...,...,...
494,495,Terran R Mission 3,Geostationary Orbit,Satellite Deployment,Planned,10/01/2028,0.0,33
495,496,Lunar Lander Demo,Moon,Lunar Mission,Planned,15/04/2029,20.0,33
496,497,Mars Cargo Mission 1,Mars,Planetary Exploration,Planned,15/10/2030,500.0,33
497,498,Terran R Mission 4,Low Earth Orbit,Satellite Deployment,Planned,01/12/2029,0.0,33
498,499,HybriCore Test Flight 1,Suborbital,Test/Prototype,Completed,15/07/2019,0.0,34